---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";
import BackToPrevious from "@components/BackToPrevious.astro";
import { SITE } from "@consts";
---

<Layout title="404" description={SITE.DESCRIPTION}>
  <Container>
    <div class="mt-16 grid place-items-center gap-3">
      <h1 class="animate text-2xl font-semibold text-black dark:text-white">
        404 Esa página desapareció. 
      </h1>
      <h2>Esto sólo puede significar una cosa. <i>Aliens</i></h2>
      <br>
      <span class="animate">
        <BackToPrevious href="/">Volver al inicio</BackToPrevious>
      </span>
    </div>
  </Container>
</Layout>
